<section class="why-choose-us bg-navy">
    <div class="container">
      <h2 class="section-title text-center text-white">{{ translationService.translate('WHY_CU_TITLE') }}</h2>
      <div class="trust-grid">
        <div class="trust-card">
          <i class="fa-solid fa-microchip"></i>
          <h4>{{ translationService.translate('WHY_CU_EXP_TITLE') }}</h4>
          <p>{{ translationService.translate('WHY_CU_EXP_DESC') }}</p>
        </div>
        <div class="trust-card">
          <i class="fa-solid fa-truck-fast"></i>
          <h4>{{ translationService.translate('WHY_CU_REL_TITLE') }}</h4>
          <p>{{ translationService.translate('WHY_CU_REL_DESC') }}</p>
        </div>
        <div class="trust-card">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <h4>{{ translationService.translate('WHY_CU_PRO_TITLE') }}</h4>
          <p>{{ translationService.translate('WHY_CU_PRO_DESC') }}</p>
        </div>
        <div class="trust-card">
          <i class="fa-solid fa-handshake-angle"></i>
          <h4>{{ translationService.translate('WHY_CU_CUS_TITLE') }}</h4>
          <p>{{ translationService.translate('WHY_CU_CUS_DESC') }}</p>
        </div>
      </div>
    </div>
</section>
