<section class="final-cta">
    <div class="cta-overlay"></div>
    <div class="cta-content container text-center">
      <h2>{{ translationService.translate('CTA_FINAL_TITLE') }}</h2>
      <p class="lead-text text-white">
        {{ translationService.translate('CTA_FINAL_DESC') }}
      </p>
      <div class="hero-ctas justify-center mt-4">
        <a routerLink="/contact" class="btn btn-primary">{{ translationService.translate('CTA_FINAL_BTN_QUOTE') }}</a>
        <a routerLink="/contact" class="btn btn-secondary">{{ translationService.translate('CTA_FINAL_BTN_TEAM') }}</a>
      </div>
    </div>
</section>
