<section class="main-slider main-slider-style1">

  <div class="main-slider-style1__shape2">
    <img class="rotatescale" src="asset/animated/main-slider-style1__shape2.png" />
  </div>

  <div class="main-slider-style1__shape3">
    <img class="rotatescale" src="asset/animated/main-slider-style1__shape3.png" />
  </div>

  <div class="main-slider-style1__shape4">
    <img class="float-bob-y" src="asset/animated/main-slider-style1__shape4.png" />
  </div>

  <div class="main-slider-style1__shape5">
    <img class="float-bob-x" src="asset/animated/main-slider-style1__shape5.png" />
  </div>

  <div class="main-slider-style1__shape6">
    <img class="float-bob-x" src="asset/animated/main-slider-style1__shape6.png" />
  </div>

  <div class="swiper mainSwiper">

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="slider-inner">

          <div class="slider-content">
            <h3 class="sub-title">Flat 30% Discount For Limited Time Only</h3>
            <h2 class="big-title">
              Blood Pressure <br> Monitor Medical
            </h2>

            <a class="btn-one" routerLink="/products">
              Buy Now
            </a>
          </div>

          <div class="slider-image">
            <img src="asset/Pngs/product/perfusor-space.jpeg" alt="Medical Device">
          </div>

        </div>
      </div>

      <div class="swiper-slide">
        <div class="slider-inner">

          <div class="slider-content">
            <h3 class="sub-title">Premium Quality Equipment</h3>

            <h2 class="big-title">
              Advanced Clinical <br> Infusion Systems
            </h2>

            <a class="btn-one" routerLink="/products">
              View Collection
            </a>
          </div>

          <div class="slider-image">
            <img src="asset/Pngs/product/perfusor-space.jpeg" alt="Infusion Pump">
          </div>

        </div>
      </div>

    </div>

    <div class="swiper-pagination"></div>

      <div class="button-prev">
        <i class="fa-solid fa-chevron-left"></i>
      </div>

      <div class="button-next">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
        </div>

</section>