<section class="hero-section">
      <div class="hero-content">
          <h1>{{ translationService.translate('HERO_TITLE') }}</h1>
          <p class="subtitle">
            {{ translationService.translate('HERO_SUBTITLE') }}
          </p>
          <div class="hero-ctas">
              <a routerLink="/contact" class="btn btn-primary">{{ translationService.translate('HERO_BTN_CONSULT') }}</a>
              <a routerLink="/products" class="btn btn-secondary">{{ translationService.translate('HERO_BTN_EXPLORE') }}</a>
          </div>
      </div>
  </section>