<section class="replacement-parts">
    <div class="container split-layout">
      <div class="split-text">
        <h2>{{ translationService.translate('REP_PARTS_TITLE') }}</h2>
        <p>
          {{ translationService.translate('REP_PARTS_DESC') }}
        </p>
        <a routerLink="/contact" class="btn btn-primary mt-3">{{ translationService.translate('REP_PARTS_BTN') }}</a>
      </div>
      <div class="split-visual">
         <div class="tech-graphic">
            <i class="fa-solid fa-layer-group"></i>
         </div>
      </div>
    </div>
</section>
