<!-- <div class="footer_container">
<div class="company_details">
    <div class="logo_img">
        <img src="asset/logo.png" alt="Ha-Ha Logo" class="footer_logo">
    </div>

    <p class="company_description">
       selling the best products for the best prices with
       excellent customer service and a satisfaction guarantee
    </p>

    <div class="contact_info">
        <div class="info_item">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
            <p>Gießen, Germany</p>
        </div>

            <div class="info_item">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-.239-.756zm3.436-.569L16 11.801V4.697l-5.803 3.564z"/>
                </svg>
                <p>AH&HA&#64;example.com</p>
            </div>
    </div>

    <div class="social_links">
        <span>Follow Us :</span>
        <div class="social_icons">
            <a href="#"><i class="social_icon">t</i></a> <a href="#"><i class="social_icon">f</i></a>
            <a href="#"><i class="social_icon">p</i></a>
        </div>
    </div>
</div>
    <div class="pages_column">
        <h3 class="column_title">Company</h3>
                <div class="company_line">

            </div>
        <ul class="column_list">
            <li><a [routerLink]="'/about'">About</a></li>
            <li><a [routerLink]="'/blog'">Blog</a></li>
            <li><a [routerLink]="'/products'">All Products</a></li>
            <li><a [routerLink]="'/contact'">Contact Us</a></li>
            <li><a [routerLink]="'/locations'">Locations Map</a></li>
        </ul>
    </div>


 
    <div class="pages_column">
        <p class="column_title">Company</p>
                <div class="company_line">

            </div>
        <ul class="column_list">
            <li><a [routerLink]="'/about'">About</a></li>
            <li><a [routerLink]="'/blog'">Blog</a></li>
            <li><a [routerLink]="'/products'">All Products</a></li>
            <li><a [routerLink]="'/contact'">Contact Us</a></li>
            <li><a [routerLink]="'/locations'">Locations Map</a></li>
        </ul>
    </div>

</div>
 -->


 <div class="footer_container">

  <div class="company_details">
    <div class="logo_img">
        <a [routerLink]="'/'">
          <img src="asset/logo.png" alt="Ha-Ha Logo" class="footer_logo">
        </a>
    </div>

    <p class="company_description">
      {{ translationService.translate('FOOTER_DESC') }}
    </p>

    <div class="contact_info">
      <div class="info_item">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
        <p>Gießen, Germany</p>
      </div>

      <div class="info_item">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555z"/>
        </svg>
        <p>AH&HA&#64;example.com</p>
      </div>
    </div>

    <div class="social_links">
      <span>{{ translationService.translate('FOLLOW_US') }}</span>
      <div class="social_icons">
        <a href="#"><i class="social_icon">t</i></a>
        <a href="#"><i class="social_icon">f</i></a>
        <a href="#"><i class="social_icon">p</i></a>
      </div>
    </div>
  </div>

  <div class="pages_column">
    <h3 class="column_title">{{ translationService.translate('COMPANY') }}</h3>
    <div class="company_line"></div>

    <ul class="column_list">
      <li><a [routerLink]="'/about'">{{ translationService.translate('ABOUT') }}</a></li>
      <!-- <li><a [routerLink]="'/blog'">Blog</a></li> -->
      <li><a [routerLink]="'/products'">{{ translationService.translate('ALL_PRODUCTS') }}</a></li>
      <li><a [routerLink]="'/contact'">{{ translationService.translate('CONTACT') }}</a></li>
      <!-- <li><a [routerLink]="'/locations'">Locations Map</a></li> -->
    </ul>
  </div>



</div>
