<section class="how-we-work">
    <div class="container">
      <h2 class="section-title text-center">{{ translationService.translate('HW_WORK_TITLE') }}</h2>
      <div class="process-steps">
        <div class="step-item">
          <div class="step-num">01</div>
          <h4>{{ translationService.translate('HW_STEP1_TITLE') }}</h4>
          <p>{{ translationService.translate('HW_STEP1_DESC') }}</p>
        </div>
        <div class="step-item">
          <div class="step-num">02</div>
          <h4>{{ translationService.translate('HW_STEP2_TITLE') }}</h4>
          <p>{{ translationService.translate('HW_STEP2_DESC') }}</p>
        </div>
        <div class="step-item">
          <div class="step-num">03</div>
          <h4>{{ translationService.translate('HW_STEP3_TITLE') }}</h4>
          <p>{{ translationService.translate('HW_STEP3_DESC') }}</p>
        </div>
        <div class="step-item">
          <div class="step-num">04</div>
          <h4>{{ translationService.translate('HW_STEP4_TITLE') }}</h4>
          <p>{{ translationService.translate('HW_STEP4_DESC') }}</p>
        </div>
        <div class="step-item">
          <div class="step-num">05</div>
          <h4>{{ translationService.translate('HW_STEP5_TITLE') }}</h4>
          <p>{{ translationService.translate('HW_STEP5_DESC') }}</p>
        </div>
      </div>
    </div>
</section>
