<div class="header_container">
    <div class="logo">
        <a [routerLink]="'/'">
            <img class="logo_img" src="asset/logo.png" alt="Logo">
        </a>
    </div>

    <div class="pages">
        <a [routerLink]="'/'">{{ translationService.translate('HOME') }}</a>
        <a [routerLink]="'/products'">{{ translationService.translate('PRODUCTS') }}</a>
        <a [routerLink]="'/about'">{{ translationService.translate('ABOUT') }}</a>
        <a [routerLink]="'/contact'">{{ translationService.translate('CONTACT') }}</a>
    </div>

    <div class="icons">
        <div class="language-switcher">
            <button 
                class="flag-btn" 
                (click)="switchLanguage('en')"
                [class.active]="(translationService.lang$ | async) === 'en'">
                <img src="https://flagcdn.com/w40/gb.png" alt="English">
            </button>
            <button 
                class="flag-btn" 
                (click)="switchLanguage('de')"
                [class.active]="(translationService.lang$ | async) === 'de'">
                <img src="https://flagcdn.com/w40/de.png" alt="Deutsch">
            </button>
        </div>
    </div>
</div>